@font-face {
    font-family: 'Gotham-medium';
    src: url(../fonts/gothammedium.eot);
    src: url(../fonts/gothammedium.eot) format("embedded-opentype"), url(../fonts/gothammedium.woff2) format("woff2"), url(../fonts/gothammedium.woff) format("woff"), url(../fonts/gothammedium.ttf) format("truetype"), url(../fonts/gothammedium.svg#gothammedium) format("svg")
}

@font-face {
    font-family: 'Gotham-book';
    src: url(../fonts/GothamBook.eot);
    src: url(../fonts/GothamBook.eot) format("embedded-opentype"), url(../fonts/GothamBook.woff2) format("woff2"), url(../fonts/GothamBook.woff) format("woff"), url(../fonts/GothamBook.ttf) format("truetype"), url(../fonts/GothamBook.svg#GothamBook) format("svg")
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", sans-serif;
}

body > div {
    height: 100%;
    width: 100%;
}

.title {
    font-size: 25px;
    font-family: "Gotham-medium", "Helvetica Neue", sans-serif;
}

.sub-title {
    font-weight: 600;
    font-size: 43px;
    color: #111;
    margin-bottom: 1em;
    font-family: "Gotham-medium", "Helvetica Neue", sans-serif;
}

.box-picture {
    height: 100%;
    background: #fafafa;
    padding: 20px 15px;
    border-right: 1px solid #f5f5f5;
}

.box-picture img {
    display: block;
    margin: 23% auto 4%;
    width: 300px;
}

.box-info {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12%;
}

main{
    height: 100%;
}

main .footer {
    position: absolute;
    bottom: 0;
    padding: 10px 40px;
    font-size: 0.8em;
    color: #666;
    left: 0;
    right: 0;
}

.box-info, .box-info > div, .box-info > figure {
    height: 100%;
}

.social-links a {
    text-decoration: none;
    font-size: 14px;
    color: #999;
}

.social-links a:not(:first-child):before {
    content: ".";
}

.social-links a:before, .social-links a:after {
    padding-right: 10px;
    padding-left: 10px;
}

.coming-soon {
    color: #333;
    font-size: 1.5em;
    padding: 10px 20px;
    margin-top: 2.5em;
    border: 1px solid #333;
    font-weight: 600;
    font-family: "Gotham-medium", "Helvetica Neue", sans-serif;
}

.more{
    margin-bottom: 3em;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    color: #7E7E7E;
    font-weight: 200;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    margin: 3em auto;
    width: 70%;
}

form .input-group-addon {
    width: 100%;
    padding: 10px 12px;
    border-radius: 0px;
    background: #333;
    color: #fff;
    border: 0px;
}

.input-group .form-control {
    border-radius: 0px;
}

@media (min-width: 992px) {
    .box-picture {
        height: 100%;
    }
}

@media (max-width: 992px) {
    .box-picture {
        height: auto;
    }

    .box-picture img {
        display: block;
        margin: 3% auto 2%;
        width: 210px;
    }

    .box-info {
        padding-top: 10%;
    }

    .sub-title {
        margin-top: 1.2em;
    }

    main .footer {
        margin-top: 2em;
    }
}